@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{font-family: 'Montserrat', sans-serif;}
// ANIMATIONS
:root {
	--delay: 0;
	--duration: 1200ms;
	--iterations: 1;
}
/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 10vw;
	animation-name: clip-text;
	color: #FFF;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #f2f98b;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

@use postcss-preset-env {
	stage: 0;
	browsers: [
		"last 1 Chrome versions",
		"last 1 Firefox versions",
		"last 1 Safari versions",
		"last 1 Edge versions"
	]
}

.bg {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: 300% 300%;
	background-image: linear-gradient(
		  -45deg, 
		  #1D2951 0%, 
		  #253569 25%, 
		  #2B2766 51%, 
		  #552D6C 100%
	);  
	animation: AnimateBG 20s ease infinite;
}
  
@keyframes AnimateBG { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

html {
	scroll-behavior: smooth;
}

//CSS Styling
p{
  font-size: 18px;
}

.App {
  text-align: center;
}

@media (max-width: 1280px) {
  #profilePicture{
    display: none;
  }
  #desc {
    align-items: flex-start;
    width: 100%;
  }
}

#background{
  background: linear-gradient(200deg, #0e1c33 0%, rgb(33, 46, 59) 100%);
  animation-name: example;
  animation-duration: 4s;
  background-size: 100%;
}

.button {
  border: 2px solid;
  border-color: #2381e6;
  border-radius:4px;
  color: #2381e6;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.15s;
  transform:scale(1.0);
}

.button:hover {
  color: white;
  transform:scale(1.03);
}

#CVModal {
  background-color: whitesmoke;
}

#card:hover .projectName {
  color:#2381e6;
  transition: 0.4s;
}

.projectName{
  transition: 0.4s;
}

#card:hover {
  transform: translate(0px, -5px);
  transition: 0.4s;
}

#card {
  transform: translate(0px, 0px);
  transition: 0.2s;
}